<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
         bootstrap="vendor/autoload.php">
    <testsuite>
        <directory>tests</directory>
        <directory phpVersion="5.6">tests-5.6</directory>
        <directory phpVersion="5.6"  phpVersionOperator="&lt;">tests-before-5.6</directory>
    </testsuite>
</phpunit>